# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Logs
logs/
*.log

# macOS
.DS_Store

# IDE
.vscode/

# Temporary files
*.tmp

# OpenStack credentials
*-openrc
demo-openrc
clouds.yaml
secure.yaml

# SSH keys
*.pem
*.key
id_rsa
id_rsa.pub